ul{
    padding: 10px;
    border: 3px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 100px 1fr;
    grid-template-rows: 150px 200px 400px;
    
    gap: 10px;
}

ul li{
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    border: 3px solid green;
    padding: 3px;
    list-style: none;
}