*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
    repeat(100px, auto)
    grid-auto-rows
    grid-template-areas
    grid-column-start
    gid-column-end
*/

.grid-container{
    padding: 15px;
    background-color: #000080;

    display: grid;
    grid-template-columns: 300px 400px;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;


}

.item-4{
    grid-row: span 2;
}

.item-5{
    grid-column: span 2;
}

.grid-item{
    padding: 10px;
    border-radius: 10px;
    background-color: #ebd834;
}

.item-1{
    grid-column: 1 / -1;
}

.item-2{
    grid-row: 2 / 4;
}



.item-3{
    grid-row: 2 / 6;
}


