*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

main{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
}

section.panel{
    display: grid;
    grid-template-columns: 1fr;
}

/* panel welcome */
.panel.welcome{
    padding: 30px 60px;
    display: grid;
    grid-auto-rows: 1fr;
    background-color: #323230;
}

.panel.welcome nav a{
    text-decoration: none;
    color: #a8a8a8;
    margin-right: 20px;
}

.panel.welcome h1{
    font-size: 3em;
    color: #eeeee7;
}

.panel.welcome p{
    line-height: 2em;
    color: #a8a8a8;
    max-width: 500px;
}

.panel.welcome footer{
    align-self: flex-end;
}

.panel.about img{
    width: 100%;
    height: 100%;
}

/* panel about */
.panel.about{
    grid-template-rows: 3fr 1fr;
    overflow: hidden;
}

/* panel photos */
.panel.photos{
    grid-template-rows: 1fr 3fr;
    overflow: hidden;
}

.panel.photos div, .panel.about div{
    padding: 30px 60px;
    background-color: #eeeee7;
}

.panel.photos img{
    width: 100%;
    height: 100%;
}