
html, body{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
}
  
.grass, .sky, .road{
    position: relative;
}
  
.sky{
    height: 40%;
    background: skyblue;
}

.cloud{
    position: absolute;
}

.cloud:nth-child(1){
    width: 200px;
    top: 120px;
    opacity: 0.5;
    /* animation-name: cloud;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinte;
    animation-direction: alternate-reverse; */
    animation: cloud 50s linear infinite reverse;
}

.cloud:nth-child(2){
    /* animation-name: cloud;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinte; */
    animation: cloud 30s linear infinite reverse;
    
}
  
.grass{
    height: 30%;
    background: seagreen;
}
  
.road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}
  
.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

.mario{
    position: absolute;
    top: -40px;
    left: 0;
    /* animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: both; 
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;    */
    animation: drive 5s infinite linear, jump 0.3s 3s ease;

}

.luigi{
    position: absolute;
    left: 0;
    top: 50px;
    /* animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both; 
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in; */
    animation: drive 4s infinite ease-in alternate-reverse;
}

@keyframes drive {
  from{transform: translateX(0px);}
  to{transform: translateX(1800px);}
}

@keyframes cloud {
    from{left: -200px;}
    to{left: 100%;}
}

@keyframes jump{
    0%{ top: -40px }
    50%{ top: -200px }
    /* 100%{ top: -40px } */
}