*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #ddd;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

/* header style */
header{
    padding: 10px;
    background-color: #fff;
    align-items: center;
}

header h1{
    grid-column: span 6;
    font-size: 1.5em;
}

header nav{
    grid-column: span 6;
    justify-self: end;
}

header nav a{
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

/* main style */
main{
    max-width: 1200px;
    margin: 30px auto;
    gap: 10px;
}

main img{
    width: 100%;
    grid-column: span 6;
    border-radius: 10px;
}

main div.welcome{
    grid-column: 8 / span 5;
    align-self: center;
}

main h1{
    grid-column: span 12;
    margin: 20px auto;
}

main .hello{
    grid-column: span 4;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
}

