body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-rows: 80px auto 50px;
    /* height: 100vh; */
  }
  
  header {
    background-color: #0077cc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

    position: sticky;
    top: 0;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px;
    

    position: fixed;
    bottom: 0;
    width: 100%;
  }
  