body{
    background-color: antiquewhite;
}

main{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

main aside{
    padding: 10px;
    width: 20%;
    height: 100vh;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main section{
    padding: 10px;
    width: 80%;
    height: 100vh;
    border: 1px solid black;
}